/* Estilos Generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
header{
    background-color: #000000;
}
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.quinproLogo{
    max-width: 70%;
    min-width: 150px;
    margin: 1% 1%;
}
/*Barra Menu*/
.dropdown-item:hover{
    background-color: rgba(169, 169, 169, 0.534);
}
/*Footer*/
footer{
    background-color: black;
    width: 100%;
}
.footerEnlaces, .footerFormulario, .footerRedes{
    text-align: center;
    margin: 0% 5% 2% 5%;
    min-width: 200px;

}

.footerLRedes {
    display: flex;
    flex-direction: column;
}
/*Seccion Enlaces footer */
footer h4{
    color:white;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 5%;
}
.footerEnlaces ul{
    list-style: none;
    line-height: 200%;
    margin-top: 5%;
    padding: 0%;
}
.footerEnlaces a{
    font-size: 16px;
    text-decoration: none;
    color: white;

}
/*Seccion Formulario footer*/
.footerFormulario input{
    display: inline-block;
    width: 200px;
}
.footerFormulario form{
    margin-top: 5%;
}
.footerFormulario label{
    color:white;
}
.footerFormulario button{
    width: 6vw;
    align-self: center;
    min-width: fit-content;
}
/*Seccion Redes footer*/
.footerLRedes a{
    text-decoration: none;
    color: white; 
    font-size: 16px;
    line-height: 200%;
    margin-top: 3%;
}
.footerLRedes img{
    width: 40px;
    height: 40px;
}
/*Copyright*/
.footerLinea{
    width:100%;
    border: 2px solid white;
    margin: 0%;
    opacity: 1;
}
.copyright{
    width: 100%;
    text-align: center;
    height: 40px;
    margin: 2% 0% 0%;
}
.lineaMainFoot{
    width: 100%;
    color:rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    margin: 0%;
    opacity: 1;
}
/*Index*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
h3{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    margin: 5%;
    font-weight: 900;
    text-transform: uppercase;
}
/*Carrusel*/
.carrusel{
    width: 100%;
    background-color: black;
    height: fit-content;
}
.carousel{
    width:65vw;
    margin-left: auto;
    margin-right: auto;
}
/*Index Seccion 2*/
.indexSecDos{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.indexSecDos div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 0% auto 2%;
    padding: 2%;
    border-style:double;
    border-color: black;
}
.indexSecDos img{
    width: 48%;
    height: 400px;
    border-radius: 50%;
}
.indexSecDos p{
    width: 48%;
    height: 400px;
    line-height: 200%;
    text-align:left;
    font-weight: 700;
    background-color: blanchedalmond;
    padding: 2%;
    border-radius: 5%;
}
/*Index Seccion 3*/
.indexSecTres{
    margin-bottom: 2%;
}
.indexSecTres section div{
    margin: 0 0% 5% 0%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.indexSecTres h4{
    text-align: center;
    height: 75px;
    width:300px;
    margin-left: auto;
    margin-right: auto;
}
.indexSecTres img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}
/*Nosotros*/
.flex-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-nosotros h2{
    margin: 5%;
    align-self: flex-start;

}
.contenido-nosotros{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    border-style: double;
    border-color: black;
}
.contenido-nosotros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
}
.contenido-nosotros img{
    border-radius: 25%;
    margin: 5%;
    width: 40%;
}
.contenido-nosotros p{
    width: 40%;
    background-color: blanchedalmond;
    margin: 5%;
    padding: 5%;
    line-height: 200%;
    border-radius: 25%;
}
/*Main Productos*/
.tituloFaq, .tituloProductos{
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
}
.MenuLateral{ /* Funciona para Productos y FAQ*/
    background-color: black;
    max-width: 350px;
    position:sticky;
    top: 10px;
    margin: 0% auto;
}
.barraIzquierda{
    background-color: black;
    z-index: 15;
}
.MenuLateral ul{
    list-style: none;
    padding: 0%;
}
.MenuLateral li{
    border-style: solid;
    border-color: white;
    border-width: 1px 0;
    padding-left: 5%;
}
.MenuLateral li:hover{
    background-color: rgb(109, 104, 104);
}
.MenuLateral a{
    list-style: none;
    text-decoration: none;
    line-height: 400%;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.prodContenido{
    width: 75%;
}
.prodSeccion{
    background-color: blanchedalmond;
    margin: 5%;
    padding: 2%;
}
.prodContenido ol{
    padding:0%;
}
.prodContenido ol li{
    margin: 2% auto 2% auto;
    background-color: rgb(246, 185, 160);
    border-radius: 5%;
    font-size: 18px;
    text-align: center;
}

.prodContenido img{
    display: block;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
/*Main FAQ*/
.flex-faq{
    z-index: 10;
}
.faqPrincipal{
    display: flex;
    flex-direction: column;
}
.faqPrincipal h3{
    margin-bottom: 7%;
}
.accordion {
    margin: 0 auto 5%;
    width: 100%;
    list-style: none;
}    
.accordionWrapper {
    list-style: none;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
}   
.accordionItem {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    position: relative;
    width: 100%;
}
.accordionItem {
    background: blanchedalmond;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 1px;
    padding-bottom: 0.5rem;
}
.accordionItem h4{
    font-size: 20px;
}
.accordionItem p{
    font-size: 16px;
    padding-left: 1%;
}
.accordionItem span {
    color: #000000;
    margin-top: 1rem;
    position: absolute;
    right: 1rem;
    top: 0;
    transition: all 0.2s ease-in;
}
.accordionItem input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}
.accordionItem input[type=checkbox]:checked ~ div.panel {
    float: left;
    margin: 5px 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}
.accordionItem input[type=checkbox]:checked ~ span {
    transform: rotate(180deg);
}
/*Main Contactos*/
.flex-contactos{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.flex-contactos h2{
    margin: 5%;
    align-self: flex-start;
}
.contactoUno{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.contactoUno div{
    padding: 2%;
    width: 450px;
    height: 450px;
    background-color: blanchedalmond;
}
.contactoUno h3{
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
}
.contactoUno p{
    text-align: left;
    font-size: 14px;
    margin-left: 5%;
}
.contactoUno div img{
    width: 40px;
    height: 40px;
    border-style: none;
    margin-left: 5%;
}
.formularioContacto h3{
    margin: 5% 0 0;

}
.cajaFormulario{
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%;
}
/*Animaciones*/
.rotate-vert-center:hover { /*Animacion seccion 3 index*/
	animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes rotate-vert-center {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
}
.shadow-drop-2-br{
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
}
/* Responsive */
    /* Tablet */
    @media (min-width: 481px) and (max-width: 992px){
        /*Header*/
        .flex-header{
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
        .quinproLogo{
            margin-left: auto;
            margin-right: auto;
        }
        /*Carrusel*/
        .carousel{
            width: 80vw;
        }
        /*Seccion dos Index */
        .indexSecDos div{
            flex-wrap: wrap;
            width: 80%;
            justify-content: center;
        }
        .indexSecDos img{
            width: 350px;
            height: 350px;
            border-radius: 50%;
        }
        .indexSecDos p{
            margin-top: 2%;
            width: 350px;
        }
        /*Seccion tres Index */
        .indexSecTres section div{
            margin: 0 0% 2% 0%;
        }
        .indexSecTres section section{
            margin-left: auto;
            margin-right: auto;
        }
        .indexSecTres h4{
            max-width: 250px;
        }
        /*Nosotros*/
        .contenido-nosotros{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 90%;
            max-width: 1000px;
            justify-content: center;
            align-content: center;
        }
        .contenido-nosotros img{
            width: 50%;
            min-width: 300px;
            max-width: 350px;
        }
        .contenido-nosotros p{
            width: 50%;
            min-width: 300px;
            max-width: 350px;
        }
        /*Productos*/
        .flex-productos{
            display: grid;
            grid-template-areas: 
            "barraIzquierda"
            "prodContenido";
            grid-template-columns: 100%;
        }
        .MenuLateral{ /* Funciona para Productos y FAQ*/
            max-width: 100%;
            height: auto;
        }
        .MenuLateral ul{
            margin-bottom: 0%;
        }
        .MenuLateral a{
            text-align: center;
            line-height: 200%;
        }
        .barraIzquierda{
            position:sticky;
            top:0px;
        }
        .MenuLateral{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }
        .MenuLateral ul{
            display: flex;
            flex-direction: row;
        }
        .MenuLateral li{
            border-style: none;
            margin: 1%;
            padding: 2%;
        }
        .MenuLateral li a{
            line-height: normal;
            font-size: 0.95rem;
        }
        .tituloFaq, .tituloProductos{
            font-size: 1.1rem;
            text-align: center;
            font-weight: 700;
            align-self: center;
        }
        #ofertas, #res, #pollo, #cerdo{
            scroll-margin-top: 100px;
        }
        .prodContenido{
            width: 100%;
        }
        /*FAQ*/
        .flex-faq{
            flex-direction: column;
        }
        .faqPrincipal{
            width: 100%;
        }
        #sentrega, #sproductos, #snosotros, #otros{
            scroll-margin-top: 100px;
        }    
        .accordionWrapper {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }
        /*Main Contactos*/
        .contactoUno{
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
        }
        .contactoUno iframe{
            width: 450px;
        }
        .contactoUno div{
            width: 450px;
        }
        .formularioContacto fieldset{
            width: 80%;
            min-width: 480px;
            line-height: 300%;
            margin-bottom: 5%;
            margin-left: auto;
            margin-right: auto;
            display:flex;
            flex-direction: column;
        }
        .formularioContacto textarea{
            width: 100%;
        }
    }
    /* Mobile */
    @media screen and (max-width: 480px){
        /*Header*/
        .flex-header{
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
        .navbar{
            width:30%;
        }
        .quinproLogo{
            width:auto;
        }
        /*Carrusel*/
        .carousel{
            width: 100%;
        }
        /*Seccion dos Index */
        .indexSecDos div{
            display: flex;
            flex-direction: column;
            width: 80%;
        }
        .indexSecDos img{
            width: 90%;
            height: 300px;
        }
        .indexSecDos p{
            width: 80%;
            line-height: 200%;
            margin-top: 5%;
        }
        /*Seccion tres Index */
        .indexSecTres section section{
            margin-left: auto;
            margin-right: auto;
        }
        /*Nosotros*/
        .contenido-nosotros{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 80%;
            justify-content: center;
            align-content: center;
            margin-left: auto;
            margin-right: auto;
        }
        .contenido-nosotros img{
            width: 80%;
        }
        .contenido-nosotros p{
            width: 80%;
        }
        /*Productos*/
        .flex-productos{
            display: grid;
            grid-template-areas: 
            "barraIzquierda"
            "prodContenido";
            grid-template-columns: 100%;
        }
        .MenuLateral{ /* Funciona para Productos y FAQ*/
            max-width: 100%;
            height: auto;
        }
        .tituloFaq, .tituloProductos{
            font-size: 16px;
            text-align: center;
            font-weight: 700;
            align-self: center;
        }
        .barraIzquierda{
            width: 100%;
            max-width: 100%;
            height: auto;
            position:sticky;
            top:0px;
        }
        .MenuLateral{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
        }
        .MenuLateral ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 0%; 
        }
        .MenuLateral li{
            padding: 2%;
            min-width: 88px;
            width: 50%;
            margin-left: 0%;
            margin-right: 0%;
        }
        .MenuLateral a{
            line-height: 250%;
        }
        .MenuLateral ul li a{
            line-height: normal;
            font-size: 0.8rem;
        }
        #ofertas, #res, #pollo, #cerdo{
            scroll-margin-top: 150px;
        }
        .prodContenido{
            width: 100%;
        }
        /*FAQ*/
        .flex-faq{
            display: flex;
            flex-direction: column;
        }
        .faqPrincipal{
            width: 100%;
        }
        #sentrega, #sproductos, #snosotros, #otros{
            scroll-margin-top: 150px;
        }
        .accordionWrapper {
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
        .accordionItem h4{
            font-size: 16px;
        }
        .accordionItem p{
            font-size: 14px;
        }
         /*Main Contactos*/
         .contactoUno{
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
        }
        .contactoUno iframe{
            width: 90vw;
        }
        .contactoUno div{
            width: 90vw;
        }
    }